<div class="addproduct">
    <h1>Update Product</h1>
    
    <form #addproduct="ngForm" (ngSubmit)="update(addproduct.value)" class="form">
        <input type="text" ngModel="{{listing[0].name}}" name="name" placeholder="Product Name" class="form-input">
        <input type="number" ngModel="{{listing[0].price}}"  name="price" placeholder="Price " class="form-input">
        <input type="text" ngModel="{{listing[0].category}}"  name="category" placeholder="Category" class="form-input">
        <input type="text" ngModel="{{listing[0].image}}"  name="image" placeholder="Image Url " class="form-input">
        <input type="text" ngModel="{{listing[0].color}}" name="color" placeholder="Color" class="form-input">
        <textarea name="description" ngModel="{{listing[0].description}}" placeholder="Description" class="textarea form-input"></textarea>
        <button class="button-reverse">Update</button>
    </form>
    </div>
    
