/* You can add global styles to this file, and also import other style files */
* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
body {
  background-color: #f7f7f7;
}
.main-color{
  color: #9215e8;
}
.back-color {
  background-color: #9215e8;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: auto;
}
.form-input {
  width: 25vw;
  margin: 0.9vw;
  height: 2.5vw;
  padding: 7px;
  font-size: 1.2vw;
  border-radius: 10px;
}
.button{
    width: 5vw;
    height: 2vw;
    border: none;
    border-radius: 7px;
    font-size: 1vw;
    padding: 2px;
    margin: .5vw;
    background-color: white;
    color: #9215e8;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color:  rgb(3 3 3 / 20%)
}
.button-reverse{
  width: 5vw;
  height: 2vw;
  border: none;
  border-radius: 7px;
  font-size: 1vw;
  padding: 2px;
  margin: .5vw;
  background-color: #9215e8;
  color: white;
}
.link{
    color: white;
  
}